$letter-spacing : .02em !default;

$navbar-aside-xs-width: 10% !default;
$navbar-aside-s-width: 15% !default;
$navbar-aside-m-width: 20% !default;
$navbar-aside-l-width: 25% !default;
$navbar-aside-xl-width: 30% !default;

$navbar-height-normal: 4.1rem !default;
$navbar-top-height-normal: 5rem !default;

$footer-height: 4.5rem;