

.app-height {
    height: calc(100vh - #{$navbar-height-normal});
}

.container-fluid {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
}

.app-container {
    @extend .app-height;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
}

.app-container-content {
    width: 100%;
    overflow: auto;
    
    /**
     * Flex layout for Sticky Footer
     */
    display: flex;
    flex-direction: column;
    > .app-container-content-wrap {
        flex: 1;
    }
}


@include media-breakpoint-up(md) {

    .app-container {

        .navbar-aside-left {
            flex: 0 0 $navbar-aside-left-width;
        }

        .navbar-aside-left-second {
            flex: 0 0 $navbar-aside-left-second-width;
        }

        .navbar-aside-right {
            flex: 0 0 $navbar-aside-right-width;
        }

    }

}

@include media-breakpoint-up(xl) {

    .app-container { 

        .navbar-aside-left {
            flex: 0 0 $navbar-aside-left-max-width;
        }

        .navbar-aside-left-second {
            flex: 0 0 $navbar-aside-left-second-max-width;
        }

        .navbar-aside-right {
            flex: 0 0 $navbar-aside-right-max-width;
        }
    }

}