html {
    position: relative;
    min-height: 100%;
}

body {
    letter-spacing: $letter-spacing;
    /* Margin bottom by footer height */
    margin-bottom: $footer-height;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
}

.app-height {
    height: calc(100vh - #{$navbar-height-normal});
}