.navbar-aside {
    z-index: 1;

    .close {
        padding: 5px 10px;
        position: absolute;
        right: 0;
        z-index: 2;
    }
}

.navbar-aside-left {
    left: 0;
    box-shadow: 1px 0 4px rgba(0, 0, 0, 0.03);
}

.navbar-aside-left-second {
    left: $navbar-aside-left-width;
    box-shadow: 1px 0 4px rgba(0, 0, 0, 0.03);
}

.navbar-aside-right {
    right: 0;
    box-shadow: -1px 0 4px rgba(0, 0, 0, 0.03);
    top: $navbar-height-normal; /** replace with body margins */
}

.navbar-aside-body {}

.navbar-aside-left-container {}

@include media-breakpoint-down(sm) {
    .navbar-aside {
        display: none; // remove when there is a toggle button to show/hide sidebars
        width: 100%;
        height: 100%;
        top: 0;
    }
}

@include media-breakpoint-up(md) {
    .navbar-aside {}

    .navbar-aside {
        position: fixed;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            width: 0 !important;
        }
    }

    .navbar-aside-left {
        width: $navbar-aside-left-width;
    }

    .navbar-aside-left-second {
        width: $navbar-aside-left-second-width;
    }

    .navbar-aside-right {
        width: $navbar-aside-right-width;
    }

    .ml-aside {
        padding-left: $navbar-aside-left-width;
    }

    .ml-second-aside {
        padding-left: $navbar-aside-left-width + $navbar-aside-left-second-width;
    }

    .mr-aside {
        padding-right: $navbar-aside-right-width;
    }
}

@include media-breakpoint-up(xl) {

    .navbar-aside-left {
        width: $navbar-aside-left-max-width
    }

    .navbar-aside-left-second {
        left: $navbar-aside-left-max-width;
        width: $navbar-aside-left-second-max-width;
    }

    .navbar-aside-right {
        width: $navbar-aside-right-max-width;
    }

    .ml-aside {
        padding-left: $navbar-aside-left-max-width;
    }

    .ml-second-aside {
        padding-left: $navbar-aside-left-max-width + $navbar-aside-left-second-max-width;
    }

    .mr-aside {
        padding-right: $navbar-aside-right-max-width;
    }

}